body {
  background-color: #F4F3F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
}

.wrapper section {
  width: 400px;
  margin-left: 20px;
}

:local(.groceryStoreApp) {
  padding-top: 18px;
  margin-top: 56px;
  background-color: #5C75B0;
  border: 1px solid #E3E3E3;
}

:local(.groceryStoreApp h1) {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}
