.SelectBlock__label {
    font-size: 12px;    
    color: white;
    font-weight: normal;
    padding-left: 5px;
}

.SelectBlock__select {
    border-radius: 0;
    border-color: #ABAAAA;
    border-left: 0;
    border-right: 0;
}